<section class="comment-area">
  <div class="comment-wrapper">
    {% if site.intensedebate_identifier %}
    <div id="disqus_thread" class="article-comments"></div>
    <!-- disqus在国内被屏蔽
    <script>
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//{{ site.intensedebate_identifier }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    -->
    <script>
      var idcomments_acct = '{{ site.intensedebate_identifier }}';
      var idcomments_post_id;
      var idcomments_post_url;
    </script>
    <script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
    {% endif %}
  </div>
</section> <!-- End Comment Area -->
